.li {
  display: inline;
  cursor: pointer;
  margin: 1em;
  font-weight: bold;

}

li {
  list-style-type: none;
  margin: 1em;
}

.prompt {
  font: 60% sans-serif;
  margin-left: 2vw;
}

.search, img {
  border: 2px solid rgb(255, 187, 0);
  border-radius: 8px;
  width: 60%;
  margin-left: 2vw;
  margin-top: 3vw;
  max-width: 700px;
}

.search {
  height: 2vw;
}

img {
  height: 10%;
  border: 0;
  
}

.footBlocks {
  width: 180px;
  margin: 2vw;
}

.block {
  display: flex;
}
